body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    overflow:hidden;
}

a {
    color: #00B7FF;
}
.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.modal-btn.wrapper .btn:first-child{
    margin-right:10px;
}
.titleError{
    text-align: center;
    color: #821010;
    font-size: 21px;
    font-weight: bold;
}
.errorDescription{
    text-align: center;
    color: #2da292;
    font-size: 18px;
}
.errorNumber{
    color: #000;
}
.btn-primary{
    color: #fff;
    background-color: #337ab7!important;
    border-color: #2e6da4!important;
    display: flex;
    border-radius: 4px!important;
    margin-right: 10px;
}

.btn-primary:hover,
.btn-primary:active {
    color: #fff;
    background-color: #204d74 !important;
    border-color: #122b40 !important;
}


.navbar-header{
    background-color: #4c4c4c;
    border-color: #4c4c4c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;

}
.nav-list{
    padding: 0;
    display: flex;
}
.nav-list li a{
    color: #fff;
    transition: all .2s linear;
    padding-right: 10px;
}
.nav-list li a:focus,
.nav-list li a:hover,
.nav-list li a:active,
.nav-list li a.active{
    color: #2da292;
    outline: none;
}
.chat-list{
    max-height:80vh;
    min-height:80vh;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #666666;
    margin-bottom: 1px;
}
.main-body{
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-body .logo{
    font-size: 30px;
    font-weight: bold;
}
ul li{
    list-style: none;
    margin-bottom:0;
}
.chat-room{
    display: flex;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    width: 100%;
}
.chat-users{
    width: 20vw;
    background-color: #4c4c4c;
}

.message-block{
    width: 80vw;
    border-left: 1px solid #fff;

}
input{
    border-radius: 0;
    background-color: transparent!important;
    border: none;
    outline: 0;
    box-shadow: none;
    color: #fff!important;
    height: 100%;
    padding: 0 5px;
    border-bottom: 1px solid #fff;
}

input:focus,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    outline: 0;
    border-bottom: 1px solid #2da292;
    -webkit-text-fill-color: #fff;
    -webkit-box-shadow: none;
    transition: background-color 5000s ease-in-out 0s;
    color: #fff!important;
    background-color: transparent!important;
}

.btn{
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
    background-color: #2da292;
    color: #fff;
    transition: all .3s linear;
    position: relative;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
}

.btn.clicked{background-color: #2da292;}
.btn:hover,
.btn:active,
.btn:focus{
    color: #fff;
    background-color: #1a6057;
}
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus{
    outline: 0;
    box-shadow: none;
}
.btn.user{
    margin-bottom: 2px;
}
#changeData{
    min-width: 180px;
}
#bodyContent{
    background-color: #666666;
    /*flex-direction: column;*/
    /*position: relative;*/
}
.form-group{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 10px;
    height: 35px;
    width: 350px;
    position: relative;
}
.form-group:last-of-type{
    margin-top:20px;
}
.user-page .form-group:nth-child(5){
    margin-top:20px;
}
.form-group .control-label{
    color: #fff;
    padding-right: 10px;
}

.form-group .btn-check{
    position: absolute;
    right: -95px;
}
.form-group .btn-check .btn{
    font-size: 11px;
    padding: 6px 10px;
}
.text-description{
    color: #2da292;
    text-align: center;
}
footer{
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: #fff;
    transition: all .2s linear;
}
footer a:hover,
footer a:active{
    color: #2da292;
    text-decoration: none;
}
.chat-list li{
    background-color: #2da292;
    border-radius: 3px;
    padding: 10px;
    margin: 3% 0;
    display: block;
    position: relative;
    width: 50%;

}

.chat-list li:before{
    content: "";
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-right: 20px solid #2da292;
    border-bottom: 0 solid transparent;
    position: absolute;
    right: 99%;
    bottom: 0;
    outline: none;
}
.chat-list li.right{
    left: 50%;
}
.btn-unread{
    position: relative;
}
.btn-unread:after{
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    right: 5%;
}
.unread-mess{
    min-width: 26px;
    min-height: 10px;
    border-radius: 50%;
    background-color: #2d80a2;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.typing{
    width: 20px;
}
.loader{
    width: 20px;
    position: relative;
}
.loader:before{
    top: 50%;
    left: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    -webkit-animation: lightUp 1.5s linear infinite;
    animation: lightUp 1.5s linear infinite;
}
.loader span{
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-animation: lightUp 1.5s linear infinite 0.5s;
    animation: lightUp 1.5s linear infinite 0.5s;
}
.loader:after{
    top: 50%;
    right: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    -webkit-animation: lightUp 1.5s linear infinite 1s;
    animation: lightUp 1.5s linear infinite 1s;
}
.loader span,
.loader:before,
.loader:after{
    position: absolute;
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    opacity: 0.2;
    background: #2d80a2;
    content: '';
}
.btn.clicked .loader span,
.btn.clicked .loader:before,
.btn.clicked .loader:after{
    color: #fff;
}
@-webkit-keyframes lightUp {
    0% {
        opacity: 0.2;
    }
    40% {
        opacity: 1;
    }
    60% {
        opacity: 0.2;
    }
    100% {
        opacity: 0.2;
    }
}
@keyframes lightUp {
    0% {
        opacity: 0.2;
    }
    40% {
        opacity: 1;
    }
    60% {
        opacity: 0.2;
    }
    100% {
        opacity: 0.2;
    }
}
.user-page{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.onContextMenu {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.modal-main {
    position:fixed;
    background: rgb(76, 76, 76);
    width: 400px;
    height: 247px;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.modal-main-btnRight {
    position: absolute;
    right: 10px;
    top: 5px;
    color: #fff;
    cursor: pointer;
}
.modal-main-btnRight:hover{
    color: #2da292;
}
.modal-main-btnLeft {
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgb(76, 76, 76);
    width: auto;
    height: auto;
}


.display-block {
    display: block;
}

.display-none {
    display: none;
}

.userDropDown{
    position: absolute;
    top: 0;
    right: -30%;
    height: auto;
    background-color: #403b3b;
    padding-left: 0;
    z-index: 100;

}

.dropDownBtn{
    color: #fff;
    text-transform:none;
    font-size: 12px;
    padding: 5px 10px;
    cursor: pointer;

}

.dropDownBtn:hover{
    background-color: #2da292;
}
.searchInChat{
    width: 100%;
    height: 40px;
}
.userList{
    font-size: 14px;
    padding: 5px;
    margin: 5px 0;
}
.userList.white{
    color: #fff;
}
.userList.black{
    color: #000;
}
.writeMess{
    border-top: 1px solid #fff;
    background-color: #ddd;
    display: flex;
    align-items: center;

}
textarea{
    width: 100%;
    border: none;
    color: #000!important;
    outline: none;
    resize: none;
    box-shadow: none;
}
.ReactTable.-striped .rt-tr.-even{
    background-color: rgba(5, 0, 5, 0.11) !important;
}
.form-group.w100{
    width: 100%;
}